body {
  font-family: var(--sans-font);
  background-color: var(--bg);
  color: var(--text);
  font-size: 1rem;
  min-height: 100vh;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

main {
  display: grid;
  place-content: center;
  gap: 0.5rem;
  flex: 1;
}

p {
  text-align: center;
  color: var(--accent);
}

footer > a {
  color: var(--accent);
  transition: all 0.3s ease-in-out;

  &:hover {
    color: var(--accent-hover);
  }
}
